.wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	font-weight: 700;
	font-size: 38px;
	line-height: 49px;
	text-transform: uppercase;
	color: #364844;
}